<nav class="w-full fixed h-12 bottom-0 md:top-0 z-50 flex items-center justify-between bg-blue-900 text-white">
  <div>
    <%= link_to root_path, class:class_for_link_to(root_path) do %>
      <%= responsive_html_for_navbar('ðŸŒŸ','My bucket list') %>
    <% end %>
    <%# <%= link_to root_path, class:class_for_link_to(root_path) do %>
      <%# <%= responsive_html_for_navbar('ðŸ‘€',"My friends' buckets") %>
     <%# <% end %>
    <%= link_to friendships_path, class:class_for_link_to(friendships_path) do %>
      <%= responsive_html_for_navbar('ðŸ‘¯',"My friends") %>
    <% end %>
    <%= link_to root_path, class:class_for_link_to(root_path)do %>
      <%= responsive_html_for_navbar('ðŸ—“','Dreams planning') %>
    <% end %>
  </div>
  <div>
    <%= link_to root_path, class:class_for_link_to(root_path) do %>
      <%= responsive_html_for_navbar('ðŸ””','Notif') %>
    <% end %>
    <% if current_user %>
      <div class="pr-2 hidden md:inline-block"> Logged as <%= "#{current_user.nickname}"%></div>
    <% end %>
    <%= link_to root_path, class:class_for_link_to(root_path) do %>
      <%= responsive_html_for_navbar('ðŸµ','My profil') %>
    <% end %>
  </div>
</nav>
