<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='h-full'>
    <div class="w-full fixed bottom-0 md:top-0"><%= render 'shared/navbar' %></div>
    <main class='min-h-screen bg-blue-200 mb-12 md:mt-12 md:mt-0'>
      <div class='container h-full'>
       <%= yield %>
       <%= render 'shared/flash' %>
      </div>
    </main>
  </body>
</html>
