<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# w-full flex-1  %>
    <main class='min-h-screen bg-blue-500'>
      <div class='container bg bg-red-300'>
       <%= render 'shared/flash' %>
       <%= yield %>
      </div>
    </main>
    <%= render 'shared/navbar' %>
    <%= render 'shared/footer' %>
  </body>
</html>
